.env
data/
*.csv
.venv/
ref/
Snowflake_Setup.sql
profiles.yml
test_dag_integrity_default.py
__pycache__
processed_files.log
package-lock.yml
exampledag.py
logs/
plugins/
tests/
airflow_settings.yaml
packages.txt
.astro/
.user.yml
README_astro.md
